# SQL1

SELECT　name
データのカラム取得

FROM　purchases
どのテーブルが存在するか

データベースに伝えるためのセミコロン（；）を加えて完成

SELECT　name, price
複数のカラムからデータを取得する

SELECT *
全てのカラムからデータを取得する

WHERE category = '食費'
「WHERE」が意味するのは、「どこのレコード（横の列）を取得するか

|カラム  |　データ型  |　保存されているデータ  |
|---|---|---|
|id |　数値 |　3  |
|name |　テキスト |　'お弁当' |
| purchased_at  | 日付 | '2017-09-09 ' |

WHERE name LIKE %文字列%;
「ある文字を含むデータ」を取得したい場合は、「〜のような」という意味を持つ、「LIKE演算子」を用います。

WHERE NOT price > 1000;
「〇〇を含まないデータ」や「〇〇に一致しないデータ」のような条件でデータを取得したい場合は「否定」を意味する

WHERE price IS NULL;
「〜がNULLである」という意味になる、「IS NULL」

WHERE price IS NOT NULL;
「〜がNULLでない」という意味になる「IS NOT NULL」

「NULLのデータ」や「NULLでないデータ」を取得したい場合、図のように「=」は使うことができません。

WHERE category = '食費'
AND name = ''
OR name = ''
;


AND演算子を使うと、WHEREに複数の条件を指定することができます。

OR演算子は、AND演算子と同様に、複数の条件を扱います。

ORDER BY 並べ替えたいカラム名　並べ方;
SQLでは「昇順」は「ASC」、「降順」は「DESC」と指定します。

ORDER BY price DESC;

LIMIT データの数;

# SQL2

DISTINCT（カラム）　重複を削除できる

四則演算
SELECT　name, price * 1.08

SELECT　SUM（price）
FROM　purchases
WHERE　character_name = 'にんじゃわんこ'；

AVG（price）
COUNT(price)
MAX(price)
MIN（price）

グループ化
GROUP BY　カラム名

グループ化したデータの絞り込み
HAVING
WHEREは全データの絞り込み

|優先順位  |　コード  |
|---|---|
|検索 |　WHERE |
|グループ化 |　GROUP　BY |
|関数  | COUNT　SUM　AVG　MAX　MIN |
|HAVING  |HAVING |

JOINは複数のテーブルを1つに結合したいときに使います。
結合条件は、「ON テーブル名.カラム名 = テーブル名.カラム名」で指定します。

# SQL３

クエリの中に他のクエリを入れることができます。この他のクエリをサブクエリと言います。

SELECT　name
FROM players
WHERE goals > (
    SELECT goals
    FROM players
    WHERE name = 'ウィル'
    ）；

|実行順位  |　コード  |
|---|---|
|テーブルの指定  |FROM  |
|結合 |JOIN ON |
|取得条件 |WHERE  |
|グループ化 |GROUP　BY  |
|関数 |COUNT　SUM　AVG　MIN |
|HAVING  |HAVING  |
|検索  |SELECT　DISTINCT  |
|順序  |ORDER　BY  |
|LIMIT |LIMIT |

LEFT JOINを使うことで、FROMで指定したテーブルのレコードを全て取得します。外部キーがNULLのレコードもNULLのまま実行結果に表示されます。

SELECT　＊
FROM　players
JOIN countries
ON players.country_id = countries.id
LEFT JOIN teams
ON players.previous_team_id = teams.id;

INSERT
テーブルにレコードを挿入したいときはINSERTを使います。
INSERTとは「挿入する」という意味です。

データを更新したいときにはUPDATEを使います。
複数変更したいカラムがある場合、コンマ(,)で区切ります。
実行前に一度SELECTを実行して、操作するデータを確認する習慣をつけましょう。

UPDATE students
SET name = 'jordan', course  = 'HTML'
WHERE id = 6;

レコードを削除するときはDELETEを使います。
UPDATEと同様にクエリ実行後はレコードを元に戻すことができないので、SELECTでレコードを確認してから削除を行いましょう。

DELETE FROM students
WHERE id = 7;

WHEREで削除するレコードを指定しないとテーブル内の全レコードが削除されてしまいます。

|   |   |   |   |
|:--|:--|:--|:--|
|取得   |SELECT カラムA,カラムB |更新   |UPDATE テーブル名  |
|        |FROM テーブル名;   |        |SET カラムA　= 値１, カラムB　= 値２ |
|        |          |          |WHERE 条件；|
|挿入   |INSERT　INTO　テーブル名（カラムA, カラムB...）    |削除   |DELETE FROM テーブル名   |
|        |VALUES(値１, 値２...);|        |WHERE 条件；|

FIN

PROGATE